/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a[href='./inicio.php'] {
    position: absolute;
    margin-top:2px ;
    top: 10px;
    left: 10px;
}

/* Estilo para el contenedor principal */
.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Estilo para el encabezado */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para el contenedor de enlaces */
.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-container div {
    flex: 0 0 48%; 
    margin-bottom: 10px;
}

/* Estilos para los enlaces */
a {
    display: block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
