/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para el contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
h1 {
    color: #444;
    text-align: center;
}

/* Estilos para los enlaces */
a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la barra de navegación */
.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar a {
    margin: 0 10px;
}

.navbar a:first-child {
    margin-left: 0;
}

.navbar a:last-child {
    margin-right: 0;
}


/* Estilos para las reservas individuales */
.reserva {
    margin-bottom: 10px; /* Espacio entre reservas */
    padding: 10px; /* Espacio interno */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para los elementos dentro de la reserva */
.reserva p {
    margin: 5px 0; /* Espacio entre elementos */
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
}
