/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para el contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
h1 {
    color: #444;
    text-align: center;
}

/* Estilos para los enlaces */
a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la barra de navegación */
.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar a {
    margin: 0 10px;
}

.navbar a:first-child {
    margin-left: 0;
}

.navbar a:last-child {
    margin-right: 0;
}
